In [2]:
import tweepy
import csv
import pandas as pd
import psycopg2

# Connect to DB

consumer_key = 'KfMKNmydahwQSubsT297DpbYt'
consumer_secret = 'ccCdXjEEM1vPsuA4sgJNAOTwW9EueZHejhBe42VjO2brWexLdt'
access_token = '819912293521772548-hE5XFuCPGIh5K6GWKp541zwf06YJ4sg'
access_token_secret = 'RQahNZKvkS5iVFr5bKF1PI9HpW6yxmhWyPI5weGKU5yaR'

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth,wait_on_rate_limit=True)

try:
    conn = psycopg2.connect("dbname=eksploracja_danych user=postgres password=postgres", host="localhost")
    print "Connected to the database"
except:
    print "I am unable to connect to the database"
    
cur = conn.cursor()

# Try on connection

try:
    cur.execute("""SELECT id, phrase FROM hashtag""")
    cur.execute("""SELECT author_id, tweet_id, date FROM re_tweet""")
    cur.execute("""SELECT id, name FROM author""")
    cur.execute("""SELECT id, author_id, searched_hashtag_id, date, content from tweet""")
    print "Properly set all tables"
except:
    print "I can't properly commit transactions to DB"

Connected to the database
Properly set all tables

/usr/local/lib/python2.7/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [18]:
users = api.lookup_users(['4448936200'])
print user.id
print user.screen_name
print user.name
print user.description
print user.followers_count
print user.statuses_count
print user.created_at

insert_author_details = """INSERT INTO author 
(id, name, screen_name, followers_count, statuses_count, created_at) 
VALUES (%s, %s, %s, %s, %s, %s)"""

cur.execute(insert_author_details, (user.id, user.name, user.screen_name, 
                                    user.followers_count, user.statuses_count, created_at))
conn.commit()

4448936200
kozalinka53
Teresa

286
153213
2015-12-11 13:39:07

NameError: name 'created_at' is not defined

In [19]:
def zmien(n):
    return int(n[0])

cur.execute("""SELECT id FROM author_backup""")
ids = map(zmien, cur.fetchall())

In [23]:
len(ids)

2334

In [27]:
def lookup_user_list(followers_id, api):
    full_users = []
    users_count = len(followers_id)
    while True:
        try:
            for i in range((users_count / 100) + 1):
                full_users.extend(api.lookup_users(user_ids=followers_id[i*100:min((i+1)*100, users_count)]))
                print 'getting users batch:', i
        except tweepy.TweepError as e:
            print 'Something went wrong, quitting...', e
            time.sleep(15 * 60)
        return full_users

In [28]:

# idks = ['4448936200']
tw_users = lookup_user_list(ids, api)
for user in tw_users:
    insert_author_details = """INSERT INTO author 
    (id, name, screen_name, followers_count, statuses_count, created_at) 
    VALUES (%s, %s, %s, %s, %s, %s)"""

    cur.execute(insert_author_details, (user.id, user.name, user.screen_name, 
                                        user.followers_count, user.statuses_count, user.created_at))
    conn.commit()

getting users batch: 0
getting users batch: 1
getting users batch: 2
getting users batch: 3
getting users batch: 4
getting users batch: 5
getting users batch: 6
getting users batch: 7
getting users batch: 8
getting users batch: 9
getting users batch: 10
getting users batch: 11
getting users batch: 12
getting users batch: 13
getting users batch: 14
getting users batch: 15
getting users batch: 16
getting users batch: 17
getting users batch: 18
getting users batch: 19
getting users batch: 20
getting users batch: 21
getting users batch: 22
getting users batch: 23

In [29]:
def zmien(n):
    return int(n[0])

cur.execute("""select distinct author_id from re_tweet where author_id not in (select id from author)""")
ids = map(zmien, cur.fetchall())
len(ids)

6560

In [30]:

# idks = ['4448936200']
tw_users = lookup_user_list(ids, api)
for user in tw_users:
    insert_author_details = """INSERT INTO author 
    (id, name, screen_name, followers_count, statuses_count, created_at) 
    VALUES (%s, %s, %s, %s, %s, %s)"""

    cur.execute(insert_author_details, (user.id, user.name, user.screen_name, 
                                        user.followers_count, user.statuses_count, user.created_at))
    conn.commit()

getting users batch: 0
getting users batch: 1
getting users batch: 2
getting users batch: 3
getting users batch: 4
getting users batch: 5
getting users batch: 6
getting users batch: 7
getting users batch: 8
getting users batch: 9
getting users batch: 10
getting users batch: 11
getting users batch: 12
getting users batch: 13
getting users batch: 14
getting users batch: 15
getting users batch: 16
getting users batch: 17
getting users batch: 18
getting users batch: 19
getting users batch: 20
getting users batch: 21
getting users batch: 22
getting users batch: 23
getting users batch: 24
getting users batch: 25
getting users batch: 26
getting users batch: 27
getting users batch: 28
getting users batch: 29
getting users batch: 30
getting users batch: 31
getting users batch: 32
getting users batch: 33
getting users batch: 34
getting users batch: 35
getting users batch: 36
getting users batch: 37
getting users batch: 38
getting users batch: 39
getting users batch: 40
getting users batch: 41
getting users batch: 42
getting users batch: 43
getting users batch: 44
getting users batch: 45
getting users batch: 46
getting users batch: 47
getting users batch: 48
getting users batch: 49
getting users batch: 50
getting users batch: 51
getting users batch: 52
getting users batch: 53
getting users batch: 54
getting users batch: 55
getting users batch: 56
getting users batch: 57
getting users batch: 58
getting users batch: 59
getting users batch: 60
getting users batch: 61
getting users batch: 62
getting users batch: 63
getting users batch: 64
getting users batch: 65