# DOWNLOAD MISSING DATA OF USERS

In [1]:
import tweepy
import csv
import pandas as pd
import psycopg2

# Connect to DB

consumer_key = 'KfMKNmydahwQSubsT297DpbYt'
consumer_secret = 'ccCdXjEEM1vPsuA4sgJNAOTwW9EueZHejhBe42VjO2brWexLdt'
access_token = '819912293521772548-hE5XFuCPGIh5K6GWKp541zwf06YJ4sg'
access_token_secret = 'RQahNZKvkS5iVFr5bKF1PI9HpW6yxmhWyPI5weGKU5yaR'

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth,wait_on_rate_limit=True)

try:
    conn = psycopg2.connect("dbname=eksploracja_danych user=postgres password=postgres", host="localhost")
    print "Connected to the database"
except:
    print "I am unable to connect to the database"
    
cur = conn.cursor()

# Try on connection

try:
    cur.execute("""SELECT id, phrase FROM hashtag""")
    cur.execute("""SELECT author_id, tweet_id, date FROM re_tweet""")
    cur.execute("""SELECT id, name FROM author""")
    cur.execute("""SELECT id, author_id, searched_hashtag_id, date, content from tweet""")
    print "Properly set all tables"
except:
    print "I can't properly commit transactions to DB"

Connected to the database
Properly set all tables

/usr/local/lib/python2.7/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [2]:
# TEST RUN

user = api.lookup_users(['4448936200'])[0]
print user.id
print user.screen_name
print user.name
print user.description
print user.followers_count
print user.statuses_count
print user.created_at
print user.verified
print user.friends_count

# insert_author_details = """INSERT INTO author 
# (id, name, screen_name, followers_count, statuses_count, created_at) 
# VALUES (%s, %s, %s, %s, %s, %s)"""

# cur.execute(insert_author_details, (user.id, user.name, user.screen_name, 
#                                     user.followers_count, user.statuses_count, created_at))
# conn.commit()

4448936200
kozalinka53
Teresa

286
157263
2015-12-11 13:39:07
False
274

In [ ]:
def zmien(n):
    return int(n[0])

cur.execute("""SELECT id FROM author_backup""")
ids = map(zmien, cur.fetchall())
len(ids)

In [3]:
def lookup_user_list(followers_id, api):
    full_users = []
    users_count = len(followers_id)
    while True:
        try:
            for i in range((users_count / 100) + 1):
                full_users.extend(api.lookup_users(user_ids=followers_id[i*100:min((i+1)*100, users_count)]))
                print 'getting users batch:', i
        except tweepy.TweepError as e:
            print 'Something went wrong, quitting...', e
            time.sleep(15 * 60)
        return full_users

In [ ]:

# idks = ['4448936200']
tw_users = lookup_user_list(ids, api)
for user in tw_users:
    insert_author_details = """INSERT INTO author 
    (id, name, screen_name, followers_count, statuses_count, created_at) 
    VALUES (%s, %s, %s, %s, %s, %s)"""

    cur.execute(insert_author_details, (user.id, user.name, user.screen_name, 
                                        user.followers_count, user.statuses_count, user.created_at))
    conn.commit()

In [ ]:
def zmien(n):
    return int(n[0])

cur.execute("""select distinct author_id from re_tweet where author_id not in (select id from author)""")
ids = map(zmien, cur.fetchall())
len(ids)

In [ ]:

# idks = ['4448936200']
tw_users = lookup_user_list(ids, api)
for user in tw_users:
    insert_author_details = """INSERT INTO author 
    (id, name, screen_name, followers_count, statuses_count, created_at) 
    VALUES (%s, %s, %s, %s, %s, %s)"""

    cur.execute(insert_author_details, (user.id, user.name, user.screen_name, 
                                        user.followers_count, user.statuses_count, user.created_at))
    conn.commit()

In [ ]:
# UPDATE AUTHORS

In [ ]:
# TEST RUN

user = api.lookup_users(['4448936200'])[0]
print user.id
print user.screen_name
print user.name
print user.description
print user.followers_count
print user.statuses_count
print user.created_at
print user.verified
print user.friends_count

update_author_details = """UPDATE author 
SET
verified = %s,
friends_count = %s
WHERE
id = %s;
"""


cur.execute(update_author_details, (
    user.verified, 
    user.friends_count, 
    user.id
))

conn.commit()

In [ ]:

def zmien(n):
    return int(n[0])

cur.execute("""select id from author""")
ids = map(zmien, cur.fetchall())
len(ids)

In [ ]:

tw_users = lookup_user_list(ids, api)
for user in tw_users:
    cur.execute(update_author_details, (
        user.verified, 
        user.friends_count, 
        user.id
    ))

    conn.commit()

In [ ]:
## add authors for new tweets

In [6]:
def zmien(n):
    return int(n[0])

cur.execute("""SELECT distinct author_id FROM tweet WHERE author_id::bigint not in (SELECT id FROM author);""")
ids = map(zmien, cur.fetchall())
len(ids)

39

In [7]:
insert_author_details = """INSERT INTO author 
    (id, name, screen_name, followers_count, statuses_count, created_at, verified, friends_count) 
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s)"""

In [8]:
tw_users = lookup_user_list(ids, api)
for user in tw_users:

    cur.execute(insert_author_details, (user.id, user.name, user.screen_name, 
                                        user.followers_count, user.statuses_count, user.created_at,
                                       user.verified, user.friends_count))
    conn.commit()

getting users batch: 0

ProgrammingError: syntax error at or near ","
LINE 2: ...owers_count, statuses_count, created_at, verified,, friends_...
                                                             ^